.App {
  text-align: center;
  margin-top: 10%;
}

body{
  background-color: RGB(244, 244, 244);
}
/* Navigation */

#nav {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  font-size: 20px; 
  background-color: RGB(145, 195, 194);
}

#nav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background: grey;
  color: black;
}

/* button */
button {
  background-color: RGB(255, 195, 71);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}

p{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

hr.dashed {
  border-top: 3px dashed #bbb;
}

/* .vacation {
  margin-bottom: 50%;
} */

.footer{
  text-align: center;
  margin-top: 35%;
  margin-bottom: 1%;
}