.App {
  text-align: center;
  margin-top: 10%;
}

body{
  background-color: RGB(244, 244, 244);
}
/* Navigation */
/* Style The Dropdown Button */
.dropbtn {
  background-color: RGB(145, 195, 194);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-nav {
  /* overflow: hidden; */
  /* position: fixed; Set the navbar to fixed position8 */
  /* top: 0; Position the navbar at the top of the page */
  /* width: 100%; Full width */
  /* font-size: 20px;  */
  /* background-color: RGB(145, 195, 194); */
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown-nav:hover .dropdown-content {
  display: block;
}

/* #nav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background: grey;
  color: black;
} */

/* button */
button {
  background-color: RGB(255, 195, 71);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}

p{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

hr.dashed {
  border-top: 3px dashed #bbb;
}

/* .vacation {
  margin-bottom: 50%;
} */

.footer{
  text-align: center;
  margin-top: 35%;
  margin-bottom: 1%;
}

.home-react-icon{
  display: block;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}